<%= @user.name %>, <%= @user.email %>
<div class="row">
    <section class="user_info">
      <h3 style="text-align:center;">
        You have successfully registered as <%= @user.name %>.
        <br><br>To begin tracking, please sign in to your mobile app using your new login information.
      </h3>
    </section>
</div>