
<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<%= image_tag 'map_background.png' %>

<%= debug(params) if Rails.env.development? %>