
<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<!--<h1>Please refresh page.</h1>-->
<!--<div="map-canvas"></div>-->

<!-- Leaflet -->
<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />

<!-- include cartodb.js library -->
<script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>

<div id="map"></div>

<script>
    function main() {
        var southWest = L.latLng(-90, 180),
                northEast = L.latLng(90, -180),
                bounds = L.latLngBounds(southWest, northEast);

        var map = L.map('map', {
            scrollWheelZoom: false,
            center: [40.7127837, -74.0059413],
            zoom: 3
        });

        var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png', {
            bounds: bounds,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
        });

        map.addLayer(layer);

        var key = "bibs"; // defined in _header.html.erb
        var selected_racers = JSON.parse(localStorage.getItem(key)); // view _header to see how bibs are stored
        var racer_markers = [];

        // initialize markers for selected racers so locations can be updated
        var n;
        for (n = 0; n < selected_racers.length; n++) {
            var marker = L.marker([0, 0], {opacity: 0});
            marker.addTo(map);
            racer_markers.push(marker);
        }

        // use json located in content from html to update coordinates for racers
        function plotCoords(html) {
            // obtain racers information contained in div
            var tmp = jQuery('<div>').html(html);
            var racers_json = JSON.parse( tmp.find("div#racers_info").html() );

            // update markers for selected racers on map
            var i;
            for (i = 0; i < selected_racers.length; i++) {
                var bibNo = selected_racers[i];
                var current_racer = racers_json[bibNo];

                var racer_marker = racer_markers[i];
                racer_marker.setLatLng([current_racer.latitude, current_racer.longitude]).update();
                racer_marker.unbindPopup();
                racer_marker.bindPopup("Racer: " + current_racer.bib + ", Time: " + current_racer.time);
                racer_marker.setOpacity(1);
            }
        }

        function updateCoords() {
            // ajax call to get racers info from another page
            $.ajax({
                url: "welcome/updated_coords",
                success: plotCoords // callback handler
            });

            setTimeout(updateCoords, 7000);
        }

        updateCoords();
    }
    window.onload = main;
</script>

<%= debug(params) if Rails.env.development? %>