<style>
    .filter-ui {
        background:#fff;
        position:fixed;
        top:7em;
        right:1em;  
        z-index:10000;
        padding:1em;
        border-radius:0.5em;
        width: 310px;
    }
    #checkbox-filter {
        padding-top: 0.5em;
        padding-bottom: 0.25em;
    }
    #search-bar {
        width: 20em;;
    }

    /* The following styles are for divs that are created dynamically */
    .container-label-inline {
        display: inline-block;
    }

    .container-checkbox-inline {
        display: inline-block;
        padding-right: 1em;
        width:2em;
    }

</style>

<button id="map_settings"type="button" class="btn btn-danger" >
  Map Settings <span id="button_glyphicon" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
</button>
  <nav id='filter-racers' class='filter-ui'>

  <form id="add_racer_form" role="form">
    <div class="form-group">
      <div id="race_selecting">
        <%= select_tag('raceToUpload', options_from_collection_for_select(@races, 'routeid', 'raceid'),
                       {include_blank: 'Select a Race', required: 'true', autofocus: 'true', class: 'form-control'}) %>
        <button id="race_select_button"class="btn btn-primary" onclick="myFunction()">Show</button>
      </div>
      <div id="search-bar" class="input-group">
        <input type="text" id="bibNo" class="form-control" placeholder="Search Athlete by Name or Bib#">
            <span class="input-group-btn">
              <button id="addRacerToMap" class="btn btn-primary" type="submit">Add</button>
            </span>
      </div>
    </div>
  </form>
  <div id="checkbox-filter">
    <label>Selected Racers</label>
  </div>
  <div>
    <button id="remove" type="button" class="btn btn-danger" onclick="">Remove</button>
  </div>
</nav>

<div id="map"></div>

<script language="javascript" type="text/javascript">

    function myFunction () {
        var raceToUpload = document.getElementById('raceToUpload').value;
        displayRace(raceToUpload);
    }

    function reattachEvents(e){
        $(e).unbind('submit').submit();
    }

    $("#map_settings").click(function(){
        $("#filter-racers").toggle();
        if ($("#filter-racers").css('display') == 'none') {
            $("#button_glyphicon").removeClass("glyphicon-chevron-down");
            $("#button_glyphicon").addClass("glyphicon-chevron-up");
        }
        else{
            $("#button_glyphicon").removeClass("glyphicon-chevron-up");
            $("#button_glyphicon").addClass("glyphicon-chevron-down");
        }
    });

    $("#addRacerToMap").submit( function (e) {
        var storedRacesJson = JSON.parse(localStorage.getItem(selectedRaceKey));
        var raceid = storedRacesJson["raceid"];;
        if (raceid.length != 0) {

            var idString = ( document.getElementById("bibNo").value );
            displayRacer("#add_racer_form", idString, lookupRacerBib);
            return false;
        }

        else {
//            alert("Please select a race.");
//            return false;
        }
    });

    $("#remove").click( function (e) {
        remove(e);
    });

    // limit bounds for map
    var southWest = new L.LatLng(-90, 180);
    var northEast = new L.LatLng(90, -180);
    var bounds = [southWest, northEast];
    var map = L.map('map', { editable: false }).setView(startPoint, 10);

    var layer = L.tileLayer('http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
        maxZoom: 20,
        attribution: 'Data \u00a9 <a href="http://www.openstreetmap.org/copyright"> OpenStreetMap Contributors </a> Tiles \u00a9 HOT'
    }).addTo(map);

    map.addLayer(layer);

    initializeLocalStorage();
    initializeMarkers();
    createFilterUI();

    var storedRacesInfo = JSON.parse(localStorage.getItem(selectedRaceKey));
    var routeInfo = storedRacesInfo["routeid"];
    document.getElementById('raceToUpload').value = routeInfo;

    window.onload = updateCoords;
</script>

