// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}
.navbar-brand {
  font-size:40px;
}
.navbar{
  padding-top:10px;
  margin-bottom:0px;
}
.navbar-default{
  background-color:firebrick;
}
.navbar-default .navbar-nav > li > a {
  color: black;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #D8D8D8;
}
.navbar-default .navbar-brand {
  color: black;
}
.navbar-default .navbar-brand:hover {
  color: #D8D8D8;
}
#addbttn{
  margin-top:-15px;
}
.dropdown-menu {
  min-width:155px;
}
.navbar-right .dropdown-menu {
  right: -1px;
  left: auto;
}
.navbar-form{
  border-style:none;
  box-shadow:none;
}