// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  margin: 0px;
  padding: 0px;
  font-size:20px;
}
h2{
  font-weight:bold;
  font-size:36px;
}
.navbar-brand {
  font-size:40px;
}
.navbar{
  padding-top:10px;
  margin-bottom:0px;
  z-index: 100000;
}
.navbar-default{
  background-color:firebrick;
}
.navbar-default .navbar-nav > li > a {
  color: black;
  font-size:20px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: white;
}
.navbar-default .navbar-brand {
  color: black;
}
.navbar-brand:hover {
  color: white;
}
#addbttn{
  margin-top:-15px;
}
.dropdown-menu {
  min-width:155px;
}
.navbar-right .dropdown-menu {
  right: -1px;
  left: auto;
}
.navbar-form{
  border-style:none;
  box-shadow:none;
}
.btn-danger{
  background-color:firebrick;
}
.logo{
 // background-color:firebrick;
}
.step{
  text-decoration: underline;
  text-decoration-color:firebrick;
}
.modal{
  margin-top:60px;
  z-index:100005;
}
a.anchor {
  display: block;
  position: relative;
  top: -75px;
  visibility: hidden;
}
#cover{
  background-image:url(cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color:black;
  height:400px;
}
.text{
  font-size:17px;
}
.jumbotron{
  background-color:black;
}
#race_selecting{
 width:260px;
}
#raceToUpload{
  width:210px;
  float:left;
  border-bottom-right-radius:0px;
  border-top-right-radius:0px;
}
#race_select_button{
  float:right;
  width:50px;
  border-bottom-left-radius:0px;
  border-top-left-radius:0px;
  padding-left:6px;
}
#map_settings{
  position:fixed;
  right:13px;
  top:65px;
  z-index:90000;
  width:310px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}