<div id="header">
  <div id="header-inner">
    <div id="logo" class="header-item">
      <%= image_tag('RedNewtRacing.png', :width => 50, :height =>50) %>
    </div>
    <h1 id="app-title" class="header-item">RedRunner</h1>
    <ul id="nav-bar" class="header-item">
      <li id="user-icon"><%= image_tag('user.png', :width => 50, :height =>50) %></li>
      <li class="nav-item">Athlete Selection</li>
      <li class="nav-item">
        <select>
          <option>Select Race</option>
          <option>race 1</option>
          <option>race 2</option>
          <option>race 3</option>
        </select>
      </li>
    </ul>
  </div>
</div>