<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index" style="padding-top:0px;">
        <%= image_tag('logo.png', :width => 50, :height =>50) %>
        RedRunner
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <!--<form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input id="bibNo" type="text" class="form-control" placeholder="Search Athlete by Bib#" required>
        </div>
        <button id="addbttn" type="submit" class="btn btn-default" onclick="displayBib()">Add to Map</button>
      </form>-->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="index#about">About</a></li>
        <li><a href="index#getstarted">Get Started</a></li>
        <li><a href="main">Spectator Map</a></li>
        <li><a href="#" data-toggle="modal" data-target="#myModal">FAQs</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<script language="javascript" type="text/javascript">

    function isInArray(value, array) {
        return array.indexOf(value) > -1;
    }

    function displayBib() {
        var key = "bibs";

        // initialize array to store bibs if not yet created
        if (localStorage.getItem(key) === null) {
            var bibs = [];
            localStorage.setItem(key, JSON.stringify(bibs));
        }

        var bibNo = Number( document.getElementById("bibNo").value );

        if (bibNo == null || isNaN(bibNo)) {
            alert("Please enter a number.");
        }

        else if (document.getElementById("bibNo").value == "") {
            // pass, let popup tell user to fill in text box
        }

        else {
            // retrieve array of selected bibs
            var storedBibs = JSON.parse(localStorage.getItem(key));

            // store new bibs in array
            if (!isInArray(bibNo, storedBibs)) {
                storedBibs.push(bibNo);
                localStorage.setItem(key, JSON.stringify(storedBibs));
                console.log(localStorage.getItem(key));
                alert("Check console log from browser to view selected bibs.")
            }

            else {
                alert("Athlete has already been added to map.");
            }
        }
    }
</script>

<div style="height:60px;"></div>